<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Perho</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
        .button {
            background-color: #555555;
            border-color:springgreen;
            border-style:groove;
            border-width: 5px;
            color: white;
            padding: 15px 60px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
        </style>
    </head>
    <body  style="font-family:verdana; margin-left: 800px;" >       
        <h1 th:text="${perho.nimi}">nimi</h1>
        <span th:text="'pään materiaali: ' + ${perho.paa}" >paa</span><br>
        <span th:text="'kurkun materiaali: ' + ${perho.kurkku}">kurkku</span><br>
        <span th:text="'vyön materiaali: ' + ${perho.vyo}">vyo</span><br>
        <span th:text="'painotus materiaali: ' + ${perho.painotus}">painotus</span><br>
        <span th:text="'helan materiaali: ' + ${perho.hela}">hela</span><br>
        <span th:text="'siiven materiaali: ' + ${perho.siipi}">siipi</span><br>
        <span th:text="'pyrstön materiaali: ' + ${perho.pyrsto}">pyrsto</span><br>
        <span th:text="'Kierteen materiaali: ' + ${perho.kierre}">kierre</span><br>
        <span th:text="'Rungon materiaali: ' + ${perho.runko}">runko</span><br>
        <span th:text="'Koukun malli: ' + ${perho.koukku}">koukku</span><br>
        <span th:text="'Häkilän materiaali: ' + ${perho.hakila}">hakila</span><br>
        <span th:text="'Silmien materiaali: ' + ${perho.silmat}">silmat</span><br>
        <span th:text="'muuta materiaalia: ' + ${perho.muuta}">muuta</span><br>
        <span th:text="'saadut kalat lkm: ' + ${perho.kala}">kala</span><br>
        <br>
        <form method="post" action="/lisaakala">
            <input type="hidden" name="perhoNimi" th:value="${perho.nimi}">
            <button type="submit" class="button">KALA!</button>
        </form>
        <br>
        <form method="get" action="/perhot">
            <button class="button">Palaa</button>
        </form>
    </body>
</html>


